.hint-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  pointer-events: none;
  filter: var(--shadow-hint-glow);
}

.text-center {
  text-align: center;
}
